* {
  background-color: rgb(101, 86, 89);
}


nav {
flex: content;
height: 75x;
background-color: rgb(101, 86, 89);
color: white;
font-size: 20px;
}

nav li {
  display: inline-block;
  }

  nav ul { display: flex;
justify-content: space-between;
list-style: none;
margin: 10%;
padding: 0;
}



@font-face {
font-family: 'Sean';
src: url('assets/fonts/Sean-Regular.ttf');
} 

body{
font-family: 'Sean', sans-serif
}

.about {
 display:flex;
 justify-content: center;
 flex-wrap: wrap;
 font-size: 25px;

 }

 
 img {
   width: 40%;
   height: 550px;
 }
 
 header {
  width: 50%;
   padding: 10px;
   flex-wrap: wrap;
  color: white;

   }

  .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

   }

.box {
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-style: solid;
   border-width: 5px;
  border-radius: 15px;   
  padding: 10px;
              
}

.box h2 {
   font-size: 20px;
}

.box-one {
  flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-style: solid;
   border-width: 5px;
  border-radius: 15px;   
  padding: 10px;}

  .box-one img:hover {
    transform: scale(1.1);
  }

.projects img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}


.grid {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   grid-template-rows: 800px;
   gap: 40px;
}

.screenshots {
  width: 85%;
  height: 85%;

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  
}
 
          
.list-item {
  margin: 10px 0;
  text-align: center;

}       

@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;;
  }
  
  nav li {
    margin-bottom: 10px;
  }


}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .about header {
    margin-bottom: 20px;
  }
  header {width: 100%;}
}

@media screen and (max-width: 768px) {
  .box img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .list-item {
    margin-bottom: 10px;
  }

  img {display: flex;
  width: 100%;}
}
